body, html {
    height: 100%;
    margin: 0;
}

body {
    background-color: lightgray;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    align-items: center;
}

.header {
    grid-area: 1 / 1 / span 1 / span 4;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.switch {
    position: relative;
    display: block;
    width: 90px;
    height: 55px;
    margin-bottom: 30px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background: white;
    transition: .5s;
    border: 3px solid white;
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.1);
}

.slider:before{
    position: absolute;
    content: "";
    bottom: 14px;
    top: 8px;
    background-color: lightgray;
    transition: .5s;
}

.switch input {
    display: none;
}

input:checked + .slider {
    background-color: black;
}

.slider.round {
    border-radius: 35px;
}

.slider.round:before {
    width: 43%;
    height: 43%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transform: rotateZ(-45deg);
}

input:checked + .slider:before {
    transform: translateX(47px) rotateZ(45deg);
    background-color: yellow;
}